@page
@model LTPR.Pages.Purchase.BasketModel
@{
    ViewData["Title"] = "Basket";

}
<h1>Basket</h1>

<div class="row">
    <div class="col-sm-8 col-md-4">Menu Item</div>
    <div class="col-sm-4 col-md-3">Menu</div>
    <div class="col-sm-4 col-md-1">Price</div>
    <div class="col-sm-4 col-md-3">Quantity</div>
    <div class="col-sm-4 col-md-1">Total</div>
</div>
<hr />
<form method="post">
    @{
        var items = 0;
        foreach (var item in Model.tblBasket)
        {

        <div class="row">
            @if(item.UID == Model.user.Id)
            {
                items++;
                <div class="col-md-4 col-sm-8">
                    @{
                        var foundId = -1;
                        @for (int i = 0; i < Model.tblMenuItem.Count(); i++)
                        {
                            if (item.IID == Model.tblMenuItem[i].ID)
                            {
                                foundId = i;
                            }
                        }
                        if (foundId == -1)
                        {
                            @Html.DisplayFor(modelItem => item.IID)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.tblMenuItem[foundId].Name)
                        }
                    }
                </div>
                <div class="col-md-3 col-sm-4">
                @{
                    foundId = -1;
                    @for (int i = 0; i < Model.tblMenus.Count(); i++)
                    {
                        if (item.MID == Model.tblMenus[i].ID)
                        {
                            foundId = i;
                        }
                    }
                    if (foundId == -1)
                    {
                        @Html.DisplayFor(modelItem => item.MID)
                    }
                    else
                    {
                                @Html.DisplayFor(modelItem => Model.tblMenus[foundId].Name)
                            }
                        }
                    </div>
                decimal cost = 0;
                <div class="col-md-1 col-sm-4">
                    @{
                        foundId = -1;
                        for(int i = 0; i < Model.tblItemOnMenu.Count(); i++)
                        {
                            if(item.MID == Model.tblItemOnMenu[i].MID && item.IID == Model.tblItemOnMenu[i].IID)
                            {
                                foundId = i;
                            }
                        }
                        if (foundId == -1)
                        {
                            @Html.DisplayFor(modelItem => item.MID + " " + item.IID)
                        }
                        else
                        {
                                <span>£@Html.DisplayFor(modelItem => Model.tblItemOnMenu[foundId].Cost)</span>
                                cost = Model.tblItemOnMenu[foundId].Cost;
                            }
                    }
                </div>
                <div class="col-md-3 col-sm-4">
                    @*
                    need [-] number [+]
                    *@
                    <button asp-page-handler="QtyMinus" asp-route-id="@item.ID">-</button>
                        @Html.DisplayFor(modelItem => item.Qty)
                        <button asp-page-handler="QtyPlus" asp-route-id="@item.ID">+</button>
                </div>
                <div class="col-md-1 col-sm-4">

                        <span>£@Math.Round((cost * item.Qty), 2)</span>
                        @{Model.totalSum += (cost * item.Qty);}
                </div>
            }
            
        </div>
    }
        
    @if(items < 1)
    {
        <h2>The basket is empty.</h2>
        <a asp-page="/Menus/Index" class="btn">View the Menus</a>
    }
    else{
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2">Total Cost</div>
            <div class="col-2">£@Math.Round(Model.totalSum, 2)</div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                    <button asp-page-handler="Charge" asp-route-totalSum="@Model.totalSum" asp-route-id="@Model.user.Id">
                        Confirm and Pay £@Math.Round(Model.totalSum,2)
                </button>
            </div>
        </div>
    }
}
</form>