@page
@model LTPR.Pages.Admin.MenuAtRestaurant.IndexModel

@{
    ViewData["Title"] = "Menu at Restaurants Index - Admin Data Editor";
}

<h1>Menu at Restaurants Index - Admin Data Editor</h1>

<p>
    <a asp-page="Create">Add Menu to Restaurant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Restaurant Name
            </th>
            <th>
                Menu Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tblMenuAtRestaurant) {
            <tr>
                <td>
                    @{
                        var foundId = -1;
                        @for(int i = 0; i < Model.tblRestaurants.Count(); i++)
                        {
                            if(item.RID == Model.tblRestaurants[i].ID)
                            {
                                foundId = i;
                            }
                         }
                        if (foundId == -1)
                        {
                            @Html.DisplayFor(modelItem => item.RID)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.tblRestaurants[foundId].Name)
                        }
                    }
                </td>
                <td>
                    @{
                        foundId = -1;
                        @for (int i = 0; i < Model.tblMenus.Count(); i++)
                        {
                            if (item.MID == Model.tblMenus[i].ID)
                            {
                                foundId = i;
                            }
                        }
                        if (foundId == -1)
                        {
                            @Html.DisplayFor(modelItem => item.MID)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.tblMenus[foundId].Name)
                        }
                    }
                </td>
                <td>
                    @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |*@
                    <a asp-page="./Delete" asp-route-id="@item.ID">Remove Menu from Restaurant</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="../Index">Back to List</a>
</div>