@page
@model LTPR.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Your profile</h3>
            <dl class="row">
                <dt class="col-sm-5">
                    Username
                </dt>
                <dd class="col-sm-7">
                    @Model.userName
                </dd>
            </dl>
            <!-- Change password functionality -->
            <form method="post">
            <dl class="row">
                <dt class="col-sm-5">
                    Current Password
                </dt>
                <dd class="col-sm-7">
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-5">
                    New Password
                </dt>
                <dd class="col-sm-7">
                    <div class="form-group">
                        <label asp-for="RegInput.Password" class="control-label"></label>
                        <input asp-for="RegInput.Password" class="form-control" />
                        <span asp-validation-for="RegInput.Password" class="text-danger"></span>
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-5">
                    Confirm Password
                </dt>
                <dd class="col-sm-7">
                    <div class="form-group">
                        <label asp-for="RegInput.ConfirmPassword" class="control-label"></label>
                        <input asp-for="RegInput.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="RegInput.ConfirmPassword" class="text-danger"></span>
                    </div>
                </dd>
            </dl>
        <input type="submit" value="Change" class="btn btn-danger" />
        </form>

        <div>
            <h1>Past Orders</h1>
            @{
                var uid = Model.userManager.GetUserId(User);
                // gets every sale for the current user. 
                foreach(var sale in Model.tblSales)
                {
                    decimal cost = 0;
                    if(sale.UID == uid)
                    {
                        <h3>Sale ID: @sale.ID | Date: @sale.OrderTime</h3>
                        // Shows every item from this sale
                        foreach(var item in Model.tblItemsOnSale)
                        {
                            if(item.SID == sale.ID)
                            {
                                // gets more detaila bout the menu item from database
                                foreach(var menuitem in Model.tblMenuItem)
                                {
                                    if(item.IID == menuitem.ID)
                                    {
                                        <p>@menuitem.Name | £@item.Cost.ToString("0.00") x @item.Qty</p>
                                        cost += item.Cost * item.Qty;
                                        break;
                                    }
                                }

                            }
                        }
                        // shows information about the discount on the sale, if any
                        if(sale.Discount > 0)
                        {
                            <p>Subtotal: £@(cost.ToString("0.00"))</p>
                            <span>Discount applied: £@Math.Round(sale.Discount, 2)</span>
                        }
                        <b>Total cost: £@(((double)cost-sale.Discount).ToString("0.00"))</b>
                    }
                }
            }
        </div>
    </div>
    <div class="col-md-3"></div>
</div>