@page
@model IndexModel
@{
    ViewData["Title"] = "Home | Le Tre Profezie Ristoranti";
}
@using Microsoft.AspNetCore.Identity;
@using LTPR.Data;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
<div>
    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <h1 class="display-4">Ciao, @UserManager.GetUserName(User)</h1>
            <h2>Today's (@DateTime.Now.DayOfWeek) Specials</h2>
        }
        else
        {
            <h1 class="display-4">Ciao</h1>
            <h2>Today's (@DateTime.Now.DayOfWeek) Specials</h2>
            <strong>Please <a asp-page="/Account/Index">login or register</a> in order to add items to a basket</strong>
        }

    </div>
    <table class="specials-tbl">
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Cost</th>
                <th>View Menu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @{
        var today = DateTime.Now.DayOfWeek.ToString().Substring(0, 3).ToUpper();
        // checks every item in menus to see if any are on special for today, and then displays it along with a button to add the item to basket and a link to view the rest of the menu it came from
            foreach(var iom in Model.tblItemOnMenu)
            {
                if(iom.SpecialDay == today)
                {
                    <tr>
                        <td>
                            @{
                                var fid = -1;
                                for (int i = 0; i < Model.tblMenuItem.Count(); i++)
                                {
                                    if (iom.IID == Model.tblMenuItem[i].ID)
                                    {
                                        fid = i;
                                    }
                                }
                                if(fid != -1)
                                {
                                    @Model.tblMenuItem[fid].Name
                                }
                                else
                                {
                                    @iom.IID
                                }
                            }
                        </td>
                        <td>£@iom.Cost.ToString("0.00")</td>
                        <td>
                            @{
                                for (int i = 0; i < Model.tblMenus.Count(); i++)
                                {
                                    if (iom.MID == Model.tblMenus[i].ID)
                                    {
                                        fid = i;
                                    }
                                }
                                if(fid != -1)
                                {
                                    <a href="Menus/Details/@iom.MID">View Menu: @Model.tblMenus[fid].Name</a>
                                }
                                else
                                {
                                    <a href="Menus/Details/@iom.MID">View Menu</a>
                                }
                                }
                        </td>
                            <td>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <form method="post"><button asp-page-handler="Basket" asp-route-iid="@iom.IID" asp-route-mid="@iom.MID" class="btn btn-r">Add to basket</button></form>
                                }
                        </td>
                    </tr>
                }
            }
    }
        </tbody>
    </table>
    
    <div class="row gallery">
        
        <div class ="col-md-6 col-xs-12">
            <img src="~/img/garlic-bread.jpg" alt="garlic bread" class="gallery-image"/>
        </div>
		<div class="col-md-6 col-xs-12">
			<img src="~/img/pasta-fork.jpg" alt="pasta on a fork" class="gallery-image" />
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="~/img/margherita.jpg" alt="margherita pizza" class="gallery-image" />
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="~/img/pizza-rosemary.jpg" alt="pizza on a wooden plate" class="gallery-image" />
        </div>

    </div>
</div>
