@page
@model LTPR.Pages.Admin.MenuItem.DetailsModel

@{
    ViewData["Title"] = "Menu Item Details - Admin Data Editor";
}

<h1>Menu Item Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblMenuItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblMenuItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tblMenuItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tblMenuItem.Description)
        </dd>
    </dl>
    <hr />
    <h4>Ingredients</h4>
    <dl>
        @foreach (var ingredient in Model.tblIngredients)
        {
            foreach (var iii in Model.tblIngredientInItem)
            {
                // if it's on the right menu and is the right ingredient
                if (iii.MIID == Model.tblMenuItem.ID && iii.IID == ingredient.ID)
                {
                    <dt>
                        @Html.DisplayFor(modelItem => ingredient.Name)
                    </dt>
                }
            }
        }
    </dl>
    <hr />
    <h4>Images</h4>
    <div>
        @foreach (var image in Model.tblImages)
        {
            foreach (var iomi in Model.tblImageOnMenuItem)
            {
                // if it's the right menu item and has an image
                if (iomi.MIID == Model.tblMenuItem.ID && iomi.IID == image.ID)
                {
                    try
                    {
                        // converts base64 string to image
                        <img class="menu-image" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(image.ImageData))" alt="@image.ImageDescription" />
                    }
                    catch
                    {
                        <img class="img-thumb" src="/img/no-image.png" alt="no image available" />
                    }
                }
            }
        }
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tblMenuItem?.ID">Edit Menu Item</a> |
    <a asp-page="./Index">Back to List</a>
</div>
