@page "{id}"
@model LTPR.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Menu info</h1>

<div>
    <hr />
    <h2>@Html.DisplayFor(model => model.tblMenus.Name)</h2>
</div>
<div class="accordion">

    <div class="accordion accordion-flush" id="accordion">
    @foreach (var item in Model.tblItemOnMenu)
    {
        <form method="post">
        @if(item.MID == Model.tblMenus.ID)
        {
            @*@item.IID*@
                
                var foundId = -1;
                @for(int i = 0; i < Model.tblMenuItem.Count(); i++)
                {
                    if(item.IID == Model.tblMenuItem[i].ID)
                    {
                        foundId = i;
                    }
                    }
                    if (foundId == -1)
                    {
                        foundId = 0;
                    }
                    if (!Model.tblMenuItem[foundId].Retired)
                    {
                    <div class="accordion-item">
                        <div class="accordion-header" id=@("heading" + item.IID)>
                            <div class="accordion-button" @*type="button"*@ data-bs-toggle="collapse" data-bs-target=@("#collapse" + item.IID)  aria-controls=@("collapse" + @item.IID)>
                                <div class="row">
                                    <div class="col-4">
                                            <b>@Html.DisplayFor(modelItem => Model.tblMenuItem[foundId].Name)</b>
                                    </div>
                                    <div class="col-4">
                                        @*@Html.DisplayFor(modelItem => Model.tblMenuItem[foundId].Cost)*@
                                        @Html.DisplayFor(modelItem => item.Cost)
                                    </div>
                                    <div class="col-3">
                                            @if (Model.signInManager.IsSignedIn(User))
                                            {
                                                <button class="btn btn-r" asp-page-handler="Basket" asp-route-iid="@item.IID">Add to Basket</button>
                                            }
                                        
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <div id=@("collapse" + item.IID) class="accordion-collapse collapse" aria-labelledby=@("heading" + @item.IID) data-bs-parent="#accordion">
                            <div class="accordion-body">
                                @Html.DisplayFor(modelItem => Model.tblMenuItem[foundId].Description)

                                    <p><b>Ingredients</b></p>

                                <ul>
                                @foreach(var mitem in Model.tblIngredientInItem)
                                {
                                    @if(mitem.MIID == item.IID)
                                    {
                                    
                                            foundId = -1;
                                            @for(int i = 0; i < Model.tblIngredients.Count(); i++)
                                            {
                                                if(mitem.IID == Model.tblIngredients[i].ID)
                                                {
                                                    foundId = i;
                                                }
                                             }
                                            if (foundId == -1)
                                            {
                                                <li>@Html.DisplayFor(modelItem => mitem.IID)</li>
                                            }
                                            else
                                            {
                                                <li>@Html.DisplayFor(modelItem => Model.tblIngredients[foundId].Name)</li>
                                            }                        
                                    }
                                }
                                </ul>
                                @foreach(var mitem in Model.tblImageOnMenuItem)
                                {
                                    @if(mitem.MIID == item.IID)
                                    {
                                    
                                            foundId = -1;
                                            @for(int i = 0; i < Model.tblImages.Count(); i++)
                                            {
                                                if(mitem.IID == Model.tblImages[i].ID)
                                                {
                                                    foundId = i;
                                                }
                                             }
                                            if (foundId == -1)
                                            {
                                                @Html.DisplayFor(modelItem => mitem.IID)
                                            }
                                            else
                                            {
                                                <img class="menu-image" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.tblImages[foundId].ImageData))" alt="@Model.tblImages[foundId].ImageDescription" />
                                                @*@Html.DisplayFor(modelItem => Model.tblImages[foundId].ImageDescription)
                                                                    <br />*@
                                            }                        
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    }
                <div>
                    @*<a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>*@
                </div>
          
        }
            </form>
            
    }

    </div>
</div>
<div>
    <form>@* method="post">*@
        <div>
            Search
            <input asp-for="qry" />
        </div>
        <button type="submit" asp-route-qry="@Model.qry">Search</button>
    </form>
    @*<a asp-page="./Edit" asp-route-id="@Model.tblMenus?.ID">Edit</a> |*@
    <a asp-page="./Index">Back to Menus</a>
</div>
